.bg {
    background-color: rgb(231, 154, 101);
}

.logo {
    height: 10vh;
    background-color: rgb(250, 104, 0);
    background-image: url('logo-study-buddy.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.navs {
    width: 10%;
    background-color: rgb(15, 0, 80);
}

.buttons {
    background-color: Transparent;
}