:root {
    --primary: rgb(247, 105, 0);
    --dark: #21252f;
    --body: #888;
    --box-shadow: 0 8px 22px rgb(0, 0, 0, 0.1);
}


.main {
    background-color: rgb(225, 219, 219);
    border: 1px;
    min-height: 50px;
    font-size: 2rem;
}

.bg {
    background-color: rgb(231, 154, 101);
}