.logo {
    background-color: rgb(250, 104, 0);
    color: white;
    border: 1px;
    min-height: 50px;
    font-size: 2rem;
    text-align: center;
}

<<<<<<< HEAD
.borderLeft {
    background-color: rgb(11, 0, 51);
    vertical-align: left;
    height: 10000000px;
    width: 100px;
}

=======
>>>>>>> 02b3e08536741b4343f0dc84042b480de312f2b1
.side {
    background-color: brown;
    border: 1px;
    min-height: 50px;
    font-size: 2rem;
}

.main {
    background-color: rgb(225, 219, 219);
    border: 1px;
    min-height: 50px;
    font-size: 2rem;
}

.bg {
    background-color: rgb(231, 154, 101);
}