<!-- the interface for each new user email sent out -->

<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
</head>
<body>
   <div style="font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',
   Roboto,Oxygen-Sans,Ubuntu,Cantarell,'Helvetica Neue',sans-serif;width:600px;height:100%;background-color:#fafafa;padding:15px">

   <div 
      style="margin:48.5px 265px 16px 246px;width:89px;height:93px">
     <!-- <img src="{{url_for('static', filename='images/lock.png')}}" width="89" height="93" alt="lock image"/> -->
     <img src="cid:lock" width="89" height="93" alt="lock image"/>
   </div>  

   <div style="color:#3c3c3c;margin:10px auto;padding:15px">
     <p style="font-size:16px;font-weight:400;line-height:24px;margin:0 0 20px 0;text-align:center;color:#1b1b26">
       Hi <b>{{ first_name }} {{last_name}}</b>, Congradulations you have been selected to be a buddy with {{current_user.first_name}} {{current_user.last_name}} !! <br>Please click the link to login into your account. <br> Go to the buddy connections in order to view your buddy.
     </p>
     <div style="margin:24px 193px 0px 146px">
       <a href={{url}}><button 
            type="button" style="font-size:14px;font-weight:500;border:0;background-color:#F96800;font-weight:500;
              line-height:27px;width:230px;height:49px;text-align:center;color:white;margin:10px 24px 11px 24px;
                border-radius:4px"><span class="il">Login</span> To Your <span class="il">Account</span></button></a>
     </div>
       <p style="font-size:16px;font-weight:400;text-align:center;color:#1b1b26">
         Questions? <a style="color:#007fad" href="https://sustudybuddy.com/#contact" target="_blank">Contact Support</a>
       </p>
   </div>
</div>
</body>
</html>