<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Find a Study Buddy</h1>

    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <div>
            <label>Select StudyInterest</label>
            {{ form.subject_code }}
        </div>
        <br>
        <div>
            <label>Proficiency Filter</label>
            {{ form.prof_select }}
        </div>
        <br>
        {{ form.buddy_but }}
        <br>
        <br>
        {% for s in si_all %}
        <div>
            {{s.user.first_name}}
            {{s.user.last_name}}
            {{s.pro_score}}
            <input type="radio" name="select_buddy" value="{{s.user.id}}"> </input>
        </div>
        <br>
    {% endfor %}

    {% if subject_buddy_status == 'N' %} 
        {{form.select_buddy_but}}
    {% elif subject_buddy_status == 'D' %}
        {{form.select_buddy_but}}
    {% endif %}

    {% if subject_buddy_status == 'S' %}
        <div>Invitation has been sent!</div>
    
    {% elif subject_buddy_status == 'A' %}
        <div>Invitation has been sent!</div>
    {% endif %}

    </form>
    
</body>
</html>