<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Materials</title>
</head>
<body>

    <h1>Materials Upload</h1>
    <a href="{{url_for('materialsupload.download_file')}}">Download</a>
    <!--
    <form action="/upload?id={{br.id}}" method="post" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit" value="Upload">
    </form>
    -->
    <form method="POST" action="" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div>
            <label style="margin-left: 0px; margin-top: 50px; color: black;">Material you are Uploading For: </label>
        {{ buddy.first_name }}
        {{ buddy.last_name }}
        </div>

        <div>
            <label style="margin-left: 0px; margin-top: 50px; color: black;">Subject for Material you are Uploading: </label>
        {{ br.study_interest.course.course_name}}
        </div>
        <div>
            <input type="file" name="file">
             {{ form.material_but }}
        </div>
    </form>
    
</body>
</html>