<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        
        
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <script src="js/bootstrap.js"></script>
        <link rel="stylesheet" href="mystyle.css">
        
        <link rel="stylesheet" href="css/bootstrap.css">
        <script src="js/bootstrap.js"></script>
        <link rel="stylesheet" href="/static/home.css">



    <title>Upload Materials</title>
</head>
<body>
    
    <!--
    <form action="/upload?id={{br.id}}" method="post" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit" value="Upload">
    </form>
    -->

    <nav class="navbar navbar-expand-lg py-3 sticky-top bg-dark">
        <div class="container-fluid">
    
            <a class="navbar-brand" href="{{url_for('dashboard.dashboard')}}">
                <img src="{{url_for('static', filename='logo-study-buddy.png')}}" , width="220" height="65">
            </a>
    
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav" style="padding-left: 20%;">
                <button class="btn ms-4">
                    <a href="{{url_for('findstudybuddy.findBuddy')}}">Buddy Search</a>
                </button>
                <button class="btn ms-4">
                    <a href="{{url_for('subjectselection.subjectSelection')}}">Subject Select</a>
                </button>
                <button class="btn ms-4">
                    <a href="{{url_for('materialsview.materialsView')}}">View Materials</a>
                </button>
                <button class="btn ms-4">
                    <a href="{{url_for('viewratings.viewRatings')}}">View Ratings</a>
                </button>
                <button class="btn ms-4">
                    <a href="{{url_for('profile.profile')}}">Profile</a>
                </button>
                <button class="btn ms-4">
                    <a href="{{url_for('auth.login')}}">Logout</a>
                </button>
            </div>
        </div>
    </nav>
  

<section style="font-size: 125%;" class="text-white gradient-custom">
    <div class = "text-black" style = "text-align: center;">
        {{ upload_message }}
    </div>
    <div class="container py-1 h-20">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col-12 col-lg-9 col-xl-7">
                <div class="card bg-dark shadow-2-strong card-registration"
                    style="border-radius: 15px; padding-left: 5%;">
                    <div class="card-body p-5 p-md-5">
                        <form method="POST" action="/materialsupload?id= {{ br.id }}" enctype="multipart/form-data">
                            <br>
                            <br>
                            {{ form.hidden_tag() }}
                            {{ form.comment }}
                            <div>
                                <label style="text-align: center;">Material you are Uploading For: </label>
                                <label class = "text_orange" style="text-align: center;">
                                    {{ buddy.first_name }}
                                    {{ buddy.last_name }}
                                </label>
                            </div>

                            <div>
                                <label style="margin-top: 50px;">Subject for Material you are Uploading: </label>
                                <br>
                                <label class = "text_orange">
                                    {{ br.study_interest.course.course_name}}
                                </label>
                            </div>
                            <div>
                                <input type="file" name="file" id="file_upload_button" style = "margin-top: 10px;">
                                {% if not upload_message %}
                                    {{ form.material_but }}
                                {% endif %}
                                <br>
                                <br>
                                <div class = "text-white" style = "text-align: center;" id = "file_upload_msg">
                                    {{ msg }}
                                </div>
                                <br>
                            </div>
                            <div>Last upload : {{file_name}} </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>

<script>

    document.getElementById("file_upload_button").addEventListener("change", function(){
        document.getElementById("file_upload_msg").style.display = "none";
        if(this.files[0].size > 5000000) {
            alert("Please upload a file less than 5MB. Thanks!");
            $(this).val('');
        }
    });
</script>
