<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Materials</title>
</head>
<body>

    <h1>Materials View</h1>

    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <div>
            <label >Select StudyInterest</label>
            {{ form.course_name }}
            {{ form.material_view_but }}
        </div>
        <table border="1" cellpadding="5" cellspacing="5">

        <tr>
            <th>Date Uploaded</th>
            <th>Course</th>
            <th>Sender</th>  
            <th>Name</th>         
        </tr>

        {% for d in list_of_doc %}
        <tr>
            <td>{{d.date_uploaded}}</td>
            <td>{{d.course.course_name}}</td>
            <td>{{d.sender.first_name}} {{d.sender.last_name}}</td>
            <td> <a href="{{url_for('materialsview.docView')}}?id={{d.id}}">{{d.name}}</a></td> 
            

        </tr>
        {% endfor %}
        </table>
        <br>
        <br>   
        
    </form>
    
</body>
</html>