<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Profile</h1>

    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <h1> {{current_user.first_name}} </h1>>
        <h1> {{current_user.last_name}} </h1>>
        <h1> {{current_user.username}} </h1>>
        <h1> {{current_user.phone_number}} </h1>>
        <h1> {{current_user.about_me}} </h1>>
        {{ form.homeButton }}
        {{ form.inboxButton }}
        {{ form.logoutButton }}
        {{ form.saveButton }}
        {{ form.phoneNumber }}
        {{ form.aboutMe }}
        {{ msg }}
        


        
        
    </form>
    
</body>
</html>