<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmation Rating</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    
    <link rel="stylesheet" href="css/bootstrap.css">
    <script src="js/bootstrap.js"></script>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    
    <link rel="stylesheet" href="/static/home.css">
    
    <style>
        body {
            background: linear-gradient(to right, rgb(255, 106, 0), rgb(249, 170, 90));
        }
    
        .gradient-custom {
            background: linear-gradient(to right, rgb(255, 106, 0), rgb(249, 170, 90));
        }
    </style>
</head>
<body>
 <!--   
    <h1>Rating Confirmation</h1>
    <p>{{msg}}</p>
    
    
    <a href="{{url_for('dashboard.dashboard')}}">Return to dashboard</a>-->

    <center>
        <div class="card bg-dark" style="width: 70%; margin-top: 15%; width: 50%;">
            <div class="card-header" style="color: white;">
                Rating Confirmation
            </div>
            <div class="card-body">
                <h5 class="card-title" style="color: white;">You have succesfully rated your buddy!</h5>
                <p class="card-text" style="color: white;"> {{msg}} </p>
                <a href="{{url_for('dashboard.dashboard')}}" class="btn btn-primary">return to dashbaord</a>
            </div>
        </div>
    </center>
</body>
</html>

<!--after you rate a buddy gets u redirected to this page, gives link to redirect to dashbaord-->