<!DOCTYPE html>
<html lang="en">

<style>
    body {
        text-align:center 
    }
</style>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
</head>
<body>
    <h1>Reset Password</h1>

    <form method="POST" action="">
        {{ form.hidden_tag() }}
        {{ form.username }}
        {{ form.password }}
        {{ form.re_enter_password }}
        {{ form.submit }}
        <p>{{msg}}</p>

        <u1> 
            {% for error in form.username.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </u1>


    </form>
    
</body>
</html>