<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>View Ratings</h1>

    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <table border="1" cellpadding="5" cellspacing="5">

        <tr>
            <th>Date</th>  
            <th>Course</th>         
            <th>Rating</th>
            <th>Given By</th>            
            <th>Comments</th>
        </tr>
        {% for br in buddy_rating %}
        <tr>
            <td>{{ br.month }}/{{ br.year }}</td>
            <td> {{br.buddy_relation.study_interest.course.course_name}}</td>
            <td>{{ br.buddy_rate }}</td>
            <td>{{ br.sender.first_name }} {{br.sender.last_name}}</td>            
            <td>{{ br.comment }}</td>
        </tr>
        {% endfor %}
        </table>
        <br>
        <br>
        {{ form.view_rating_but }}
        
    </form>
    
</body>
</html>